.ind-project-meta-wrap {
   background-color: #e43220;
}

.mobile-header-wrap {
   background-color: #e43220;
}

.back-to-projects {
   background-color: #e41601;
}

.back-to-projects a:hover {
   background-color: #ea6f63;
}

::selection {
  background: #ea6f63;
}

::-moz-selection {
  background: #ea6f63;
}
