---
layout: default
title: Shabaz's Website
---

<div class="home-wrap">

   {%  include header.html  %}

   <div class="home-sections">

      {% include hero.html %}
      {% include about.html %}
      {% include projects.html %}
      {% include footer.html %}

   </div>
</div>
 
