@font-face {
  font-family: gidole-regular;
  src: url(/assets/project-assets/gidole-regular.ttf);
}

html {
   background-color: #f0f0f0;
}

body {
   display: flex;
   flex: 1;
   margin: 0;
   /*margin-left is for the project-meta sidebar*/
   margin-left: 280px;
   background-color: #f0f0f0;
   padding: 0;
}

.mobile-nav-toggle {
   display: none;
}

.ind-project-page-wrap {
   font-family: gidole-regular;
   display: flex;
   width: 100%;
}

.ind-project-meta-wrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #ff9a00;
   position: fixed;
   height: 100vh;
   width: 280px;
   top: 0;
   bottom: 0px;
   left: 0;
   padding-top: 15px;
   padding-bottom: 90px;
   overflow: auto;
   z-index: 1;
   box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
   transition: all ease-in-out .25s;
}

.ind-project-meta-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
   margin-bottom: 10px;
   width: 95%;
   padding-top: 25px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
}

h2.ind-project-name {
   margin: 0;
   padding: 0;
   font-size: 1.8em;
   font-style: normal;
   font-weight: bold;
   color: white;
   padding-bottom: 40px;
   width: 100%;
   display: block;
   text-align: center;
}

h4.ind-project-date {
   color: white;
   font-style: normal;
   font-weight: normal;
   font-size: 1.3em;
   margin: 0;
   padding: 0;
   width: 100%;
   display: block;
   text-align: center;
}

h4.ind-project-category {
   color: white;
   font-style: normal;
   font-weight: normal;
   font-size: 1.3em;
   margin: 0;
   padding-top: 5px;
   width: 100%;
   display: block;
   text-align: center;
}

.ind-project-image {
   width: 130px;
   height: 130px;
}

.ind-project-image img {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.ind-project-link {
   width: 20%;
   margin-top: 20px;
   margin-bottom: 60px;
}

.ind-project-link img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.back-to-projects {
   transition: all ease-in-out .25s;
   background-color: #e67e22;
   position: fixed;
   width: 280px;
   bottom: 0;
   left: 0;
   z-index: 2;
}

.back-to-projects a {
   transition: all ease-in-out .25s;
   display: block;
   width: 100%;
   height: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 1.5em;
   text-align: center;
   color: white;
}

.back-to-projects a:hover {
   transition: all ease-in-out .25s;
   background-color: #f5af41;
}

.ind-project-content {
   padding: 40px 60px 60px 60px;
   max-width: 1000px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.ind-project-content-wrap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.article-subsection {
   width: 100%;
   margin: 10px auto 10px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-bottom: 30px;
   border-bottom: solid 1px black;
}

p.article-thanks {
   display: block;
   text-align: center;
   padding-bottom: 50px;
   font-size: 1.35em;
   font-weight: bold;
}

h3.article-subheading {
   font-size: 2.1em;
   color: black;
   font-style: normal;
   font-weight: bold;
   text-align: center;
}

p.article-paragraph {
   display: block;
   width: 100%;
   line-height: 1.8em;
   font-size: 1.35em;
   font-weight: normal;
   font-style: normal;
   padding: 10px auto;
}


pre.preformated {
   width: auto;
   display: block;
   font-size: 1.3em;
   text-align: left;
}

blockquote {
   width: 100%;
   margin: 0;
   padding-left: 0;
   padding-right: 0;
   margin-bottom: 20px;
   font-size: 1.35em;
   font-style: italic;
   font-weight: normal;
   text-align: center;
}

ul.article-list {
   display: table;
   list-style-position: inside;
   list-style: none;
   padding-left: 10px;
   margin-left: 0;
   padding-bottom: 20px;
}

li.article-list-item {
   display: table-row;
   font-size: 1.3em;
   margin: 10px auto;
   font-style: normal;
   font-weight: normal;
   text-align: left;
}

/*Allows all items in the list to be justified the same amount, https://j.eremy.net/align-lists-flush-left/*/
li.article-list-item:before {
   content: "◾";
   display: table-cell;
   padding-right: 0.4em;
}

/*Centers the list in the center of the div*/
.article-subsection > ul.article-list {
   display: block;
   margin: 0 auto;
}

.article-image-wrap {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   margin-top: 25px;
   margin-bottom: 25px;
}

h3.article-image-caption {
   font-size: 1.25em;
   font-style: italic;
   font-weight: bold;
   color: black;
   width: 100%;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 40px;
   border-bottom: solid 1px black;
}

.image-row {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
   height: 100%;
   margin-top: 30px;
}

.article-image {
   width: auto;
   height: 100%;
   max-height: 400px;
   margin-bottom: 10px;
}

.article-image img {
   height: 100%;
   width: 100%;
   object-fit: contain;
}

p.indent-paragraph {
   text-indent: 2em;
}


@media (max-width: 720px) and (orientation: landscape) {}

@media (max-width: 720px), (orientation: landscape) and (max-width: 768px) {
   body {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .ind-project-page-wrap {
      width: 100%;
   }

   .ind-project-content-wrap {
      display: block;
      width: 100%;
      padding-top: 60px;
      padding-bottom: 40px;
   }

   .ind-project-content {
      padding: 0;
      margin: 0;
      margin-top: 100px;
      display: block;
      margin: 0 auto;
      width: 95%;
   }

   .article-subsection {
      width: 100%;
   }

   .article-thanks {
      padding-top: 55px;
      padding-bottom: 5px;
   }

   .ind-project-meta-wrap {
      margin-left: -700px;
      padding: 0;
      position: fixed;
      top: 50px;
   }

   .back-to-projects {
      margin-left: -700px;
   }

   .article-image-wrap {
      height: auto;
   }

   .article-image {
      max-height: 0;
      width: 65%;
      max-width: 250px;
      max-height: 100%;
   }

   .image-row {
      flex-direction: column;
   }

   .image-row > .article-image {
      margin: 20px 0;
   }

   .mobile-header-wrap {
      background-color: #ff9a00;
      width: 100%;
      height: 60px;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 4;
      box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
   }

   .mobile-nav-toggle {
      display: block;
      position: fixed;
      width: 50px;
      height: 50px;
      margin-top: 30px;
      left: 25px;
      align-items: center;
      cursor: pointer;
      z-index: 3;
   }

   .mobile-nav-toggle span,
   .mobile-nav-toggle span:before,
   .mobile-nav-toggle span:after {
       content: "";
       display: block;
       height: 2px;
       width: 100%;
       background: white;
       position: relative;
       transition: all 0.3s ease-in-out;
   }

   .mobile-nav-toggle span:before {
       top: 15px;
   }

   .mobile-nav-toggle span:after {
       top: -17px;
   }

   .mobile-nav-toggle.is-open span {
     background: 0;
  }

   .mobile-nav-toggle.is-open span:before,
   .mobile-nav-toggle.is-open span:after {
     transform-origin: center;
     transform: rotate(45deg);
     top: 0;
  }

   .mobile-nav-toggle.is-open span:before {
     transform: rotate(-45deg);
  }

}

@media (max-width: 420px) and (max-height: 700px){
   video {
      width: 95%;
      padding-bottom: 10px;
   }

   p.article-paragraph {
      text-align: left !important;
   }

   .ind-project-meta-wrap {
      top: 40px;
   }

   h2.ind-project-name {
      padding-bottom: 25px;
   }

   .ind-project-meta-content {
      padding-top: 0;
   }

   .ind-project-content {
      margin-top: 70px;
   }

   .mobile-header-wrap {
      height: 60px;
   }
}

@media (max-width: 768px) and (orientation: landscape) {
   .ind-project-meta-wrap {
      width: 460px;
      overflow: hidden;
      top: 59px;
   }

   .ind-project-image {
      display: block;
      position: relative;
      right: 155px;
      top: calc(50% - 115px);
      width: 110px;
      height: 110px;
   }

   .ind-project-meta-content {
      position: relative;
      left: 70px;
      width: 300px;
      top: calc(25% - 200px);
      margin: 0;
      padding-left: 5px;
   }

   h2.ind-project-name {
         padding-bottom: 10px;
   }

   .ind-project-link {
      position: relative;
      left: 71px;
      top: calc(25% - 170px);
      width: 70px;
      height: 70px !important;
   }

   .back-to-projects {
      height: 50px;
      width: 460px;
   }

}

@media (max-width: 720px) and (min-width: 550px) {

   .ind-project-content-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .ind-project-content {
      width: 95%;
   }
   .image-row {
      flex-direction: row;
   }
}

/*iPhone5 and SE */
@media (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
   .ind-project-link {
      top: calc(25% - 145px);
   }
}
