---
layout: project-showcase
title: A Space Invaders Remake
date: 2014-06-03
category: "projects"
project-category: "Game Development"
thumbnail: /assets/project-assets/project-1/thumb.png
repo_link: https://github.com/ShabazBadshah/SpaceWars
style: /assets/project-assets/project-1/style.css
theme-color: #ff9a00
---

<div class="article-subsection">
   <h3 class="article-subheading">Project Synopsis</h3>
   <div class="blockquote-wrap">
      <blockquote><i><b>Space Wars</b></i> was the first video game I ever created. It is a infinite horde space shooter that heavily based off of Space Invaders.
        The objective in the game is to eliminate all enemy spaceships before you die. This game was created in Java.
      </blockquote>
   </div>
</div>

<div class="article-subsection">
   <h3 class="article-subheading">Skills Utilized</h3>
   <p class="article-paragraph" style="text-align: center">
      Since this was the very first programming project I completed this was time for myself to develop the following skills:
   </p>

   <ul class="article-list">
      <li class="article-list-item">Simple graphics editing in Photoshop</li>
      <li class="article-list-item">Basic object oriented programming</li>
   </ul>

</div>

<div class="article-subsection">
   <h3 class="article-subheading">Technologies Used</h3>
   <ul class="article-list">
      <li class="article-list-item">Eclipse IDE for development</li>
      <li class="article-list-item">Photoshop for graphics and sprites</li>
   </ul>
</div>

<div class="article-subsection">
   <h3 class="article-subheading">Challanges, Issues, and their Resolutions</h3>
   <p class="article-paragraph">
      Starting off is never easy, and boy was this project no exception. As mentioned above I wish that I had a stricter planning and development process. My process for this project was to just think of what I wanted to implement and then spend hours dredging through the Java API and a plethora of internet forums to try to find answers. As you can imagine, this was in no way effective, but as a newbie I was ignorant of the fact of how a good plan can lead to a much faster and more easily maintainable code. Ultimately the challenges weren't ones with code (those are there regardless, and there were MANY here), but instead with planning. The resolution for this was quite straight forward, <b>PLAN MORE</b>, and think the problem and implementation through before starting. (:
   </p>
</div>

<div class="article-subsection">
   <h3 class="article-subheading">What did I Learn</h3>
   <p class="article-paragraph">
      During production of this game I was learning to program at the same time. This combination at the time did not work so well since there wasn't a real <i>structure</i> to my work or process in any form. It took me immensely longer to create this game than it would have, in retrospect. In the same vein, learning object oriented programming in the process was a vital step to learning the basics of programming (as this was one of my primary objectives of this undertaking). As an avid gamer, I definitely garnered a new found appreciation for game development, and software development in general. In addition, learning simple photoshop to create simple sprites for the game was a much lesser challenge then trying to figure out how to actually implement the game, but I ultimately managed to create a product that was not a complete disaster.
   </p>
</div>

<div class="article-subsection">
   <h3 class="article-subheading">Video Demo</h3>
      <video controls>
        <source src="{{site.baseurl}}/assets/project-assets/project-1/demo.mp4" type="video/mp4">
           This browser doesn't support video tags :(
      </video>
</div>
