---
layout: project-showcase
title: A Tetris Remake
date: 2015-06-03
category: "projects"
project-category: "Game Development"
thumbnail: /assets/project-assets/project-2/thumb.png
repo_link: https://github.com/ShabazBadshah/TetrisRemake
style: /assets/project-assets/project-2/style.css
theme-color: #e43220
---

<div class="article-subsection">
   <h3 class="article-subheading">Project Synopsis</h3>
   <div class="blockquote-wrap">
      <blockquote>Tetris is one of the most influential games ever created, and one of my personal favorites (I'm not very good at it). This was the second game I ever made. My objective for this game was to create it in as little time as possible (at most 5 days) with a unique implementation. This game took me 4 days non-stop to create, and was programmed in Java.
      </blockquote>
   </div>
</div>

<div class="article-subsection">
   <h3 class="article-subheading">Skills Utilized</h3>
   <p class="article-paragraph" style="text-align: center">
      At this point in my <i>personal career</i> I had developed a set of fundamental skills which were further improved upon with every additional project I completed/undertook. The skills improved upon were the following:
   </p>

   <ul class="article-list">
      <li class="article-list-item">Object oriented programming (use of MVC design pattern, I wasn't intentionally aware of this at the time)</li>
      <li class="article-list-item">Fast iteration of solutions to a problem (trying to quickly come up with implementations for the logic of Tetris)</li>
      <li class="article-list-item">Image editing and processing via Photoshop</li>
   </ul>

</div>

<div class="article-subsection">
   <h3 class="article-subheading">Technologies Used</h3>
   <ul class="article-list">
      <li class="article-list-item">Eclipse IDE for development</li>
      <li class="article-list-item">Photoshop for graphics and sprites</li>
      <li class="article-list-item">Copious amounts of coffee</li>
   </ul>
</div>

<div class="article-subsection">
   <h3 class="article-subheading">Challenges, Issues, and their Resolutions</h3>
   <p class="article-paragraph">
      Determining an implementation for this game was the most difficult part due to the time constraint I had set on myself. So, I got out a piece of paper and just started writing down possible ways to implement the logic and graphics of the game. Ultimately, I came to the conclusion of the 2 following implementations for the logic:
   </p>
   <ul class="article-list">
      <li class="article-list-item">Using an <i>nxn</i> grid of booleans to keep track of where each tetromino was located. Draw the shapes wherever the value was True</li>
      <li class="article-list-item">A collision based approach where each tetromino would have a position variable, and that variable would be used to calculate where to draw the shapes</li>
   </ul>
   <p class="article-paragraph">
      Eventually I chose the boolean grid approach due to the fact that keeping track of True/False values made work simpler than keeping track of each tetromino's position. The pieces were also True/False values; as the blocks would move down the grid, the game would update its grid based on the values of each piece. The rotation logic also took a little bit of effort to implement but was relatively simple when compared to implementing the grid.
   </p>
</div>

<div class="article-subsection">
   <h3 class="article-subheading">What did I Learn</h3>
   <p class="article-paragraph">
      Sometimes iterating through a plethora of solutions very quickly is a good way to determine the best solution. If you think something might not work <i>try</i> to implement it and figure out improvements upon it, or try to attempt a different solution. When working with teams you have to complete projects with very strict deadlines. During this process, if a solution does not work you will have to quickly determine another solution. This project gave me a sense of this urgency.
   </p>
   <p class="article-paragraph">
      On a more direct note, I definitely learned a lot about arrays and other general container objects, pertaining to performance. Iterating through different implementations allowed me to begin forming a general workflow for projects or any other type of work, which I will undoubtedly use in the future. Roughly speaking the process goes something like this:
   </p>

   <ul class="article-list" style="margin-top: 10px">
      <li class="article-list-item">Write down exactly what your objective for the project is</li>
      <li class="article-list-item">Write down the general steps and sections you will have to go through to reach that objective</li>
      <li class="article-list-item">Come up with mockups, algorithms, architecture, etc before starting any work on the app. Essentially think through solutions</li>
      <li class="article-list-item">Create the product while solving and iterating through solutions if necessary. Also keep track of <i>everything</i> you do (daily logs, backups, design mockups, etc)</li>
      <li class="article-list-item">Once project is complete, reflect upon it, and use this opportunity to create more improved products in the future</li>
   </ul>
</div>

<div class="article-subsection">
   <h3 class="article-subheading">Video Demo</h3>
      <video controls>
        <source src="{{site.baseurl}}/assets/project-assets/project-2/demo.mp4" type="video/mp4">
           This browser doesn't support video tags :(
      </video>
</div>
