---
layout: project-showcase
title: Kodeability Java App Website
date: 2017-03-22
category: "projects"
project-category: "Static Website Development"
thumbnail: /assets/project-assets/project-3/thumb.png
repo_link: https://github.com/ShabazBadshah/KodeabilityWebsite
style: /assets/project-assets/project-3/style.css
theme-color: #2195f2
---

<div class="article-subsection">
   <h3 class="article-subheading">Project Synopsis</h3>
   <div class="blockquote-wrap">
      <blockquote>This was the <a style="color: #2195f2" href="https://shabazbadshah.github.io/KodeabilityWebsite/">first website</a> I ever created in order to teach myself the basics of static web development (HTML, CSS) and basics of design (Typography, Images, Color Theory, Layouts); this site took me about 3 weeks to complete. It was initially made for an android app I was working on at the time, but the app sadly never saw the light of day. The links were not implemented, feel free to download and use the project as a template (attribution would be appreciated). (:
      </blockquote>
   </div>
</div>

<div class="article-subsection">
   <h3 class="article-subheading">Skills Utilized</h3>
   <p class="article-paragraph" style="text-align: center">
      This project primarily developed my basic web development and design skills. The following skills were developed:
   </p>

   <ul class="article-list">
      <li class="article-list-item">HTML (this wasn't a significant challenge)</li>
      <li class="article-list-item">CSS (this was the most difficult and time consuming part of the project)</li>
      <li class="article-list-item">General Design (Responsive Design, Basic Color Theory, Typography, and Layouts)</li>
   </ul>

</div>

<div class="article-subsection">
   <h3 class="article-subheading">Technologies Used</h3>
   <ul class="article-list">
      <li class="article-list-item">Atom Text Editor for website creation</li>
      <li class="article-list-item">Photoshop for app design/mockups, and other graphics</li>
      <li class="article-list-item">Bootstrap CSS for responsive website design (I just thought this would be a cool little addition to implement and learn)</li>
   </ul>
</div>

<div class="article-subsection">
   <h3 class="article-subheading">Challenges, Issues, and their Resolutions</h3>
   <p class="article-paragraph indent-paragraph">
      Making things look awesome and appealing is difficult, it becomes an even greater challenge when you have to use markup to style everything. Oh boy, was it frustrating at some points when I was trying to lay-out a specific item in a very distinct manner and it just wouldn't work; I definitely wanted to give up at those points. Regardless of the fact, CSS was the most difficult part of the website despite the site's simplicity. In particular, making a website responsive was at times very infuriating because of the inconsistency between devices. Such inconsistencies included things such as images being centered on one device but not another.
   </p>
   <p class="article-paragraph indent-paragraph">
      My first attempt at a solution was using media queries for popular devices such as iPhones, iPads, Nexus phones, Galaxy S7, etc; this of course was a <b>VERY BAD</b> choice. This attempt was missing all the devices <i>in between</i> the popular ones (I realized later how bad of a design decision this was). The availability of media queries for the mainstream devices made this attempt relatively quick to implement (about 3 days). My second attempt was more sensible, it was to try to use a framework to help me solve all my <i>consistency</i> problems. Using a framework came with many advantages such as making the site easier to maintain, and also easily understandable by other developers. Implementing the Bootstrap CSS framework quickly solved my problem and I was able to finish the website within 3 weeks; not bad for a complete newbie I suppose :P.
   </p>
</div>

<div class="article-image-wrap">
   <div class="image-row">
      <img class="article-image" src="{{site.baseurl}}/assets/project-assets/project-3/site_1.png">
      <img class="article-image" src="{{site.baseurl}}/assets/project-assets/project-3/site_2.png">
      <img class="article-image" src="{{site.baseurl}}/assets/project-assets/project-3/site_3.png">
   </div>
</div>
<h3 class="article-image-caption">Responsiveness of the site on different devices (Nexus 6P, iPad Mini, iPhone 6s)</h3>


<div class="article-subsection">
   <h3 class="article-subheading">What did I Learn</h3>
   <p class="article-paragraph indent-paragraph">
      Other than improving my web development and design skills to a competent level, after much needed reflection I came to the obvious conclusion that I needed to <b>think out my problems</b>! Don't go brainlessly attempting solutions because you just end up wasting more time. In my case iterating and <i>hard coding</i> all mainstream devices wasn't really a smart idea in the long term and was really poor design. I could've saved about 3 days if I thought through the implementation of my CSS architecture and possibly reached the conclusion of using a framework more quickly. In addition, creating some sort of mockups and pre-planning would've also saved time since it would allow me to really think through the project from a design and architecture point of view. In the future, more planning will be essential in a timely and successful completion of a project.
   </p>
</div>
