.ind-project-meta-wrap {
   background-color: #2195f2;
}

.article-image-caption {
   padding-bottom: 56px;
}

.mobile-header-wrap {
   background-color: #2195f2;
}

.back-to-projects {
   background-color: #0a70c1;
}

.back-to-projects a:hover {
   background-color: #00b4ff;
}

::selection {
  background: #00b4ff;
}

::-moz-selection {
  background: #00b4ff;
}
