 <!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user=scalable=no">

      <!-- SEO opt meta -->
      <meta name="description" content="Hey there, my name is Shabaz Badshah and this is my little home on the internet.">
      <meta name="keywords" content="Shabaz, Badshah, Shabaz Badshah, UTM Shabaz Badshah,
      shabazbadshah.com, shabazbadshah.github.io">
      <meta name="author" content="Shabaz Badshah">

      <!-- Chrome, Firefox OS and Opera Colored Tabs-->
      <meta name="theme-color" content="#33495e">
      <!-- Windows Phone Colored Tabs-->
      <meta name="msapplication-navbutton-color" content="#33495e">
      <!-- iOS Safari Colored Tabs-->
      <meta name="apple-mobile-web-app-status-bar-style" content="#33495e">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="assets/css/main.css">
      <script src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
   </head>
   <body>

      <div class="home-wrap">

         {%  include project-list-header.html  %}

         <div class="home-sections">
               {{content}}
         </div>

      </div>


      <script>
         //Adjusts the padding of the home-section based on if their is a mobile-nav or not.
         //If there is a mobile-nav, the home-sections will go under the nav, so the padding-top is added to shift them down
         $(window).on('orientationchange resize load', function() {
            if ($(window).width() <= 775) {
               $('.home-sections').css('padding-top', $('header').height());
            } else if ($(window).width() > 775) {
               $('.home-sections').css('padding-top', 0);
            }

         });
      </script>

      <script src="{{site.baseurl}}/assets/js/functions.js"></script>

   </body>
</html>
