.ind-project-meta-wrap {
   background-color: #ff9a00;
}

.mobile-header-wrap {
   background-color: #ff9a00;
}

.back-to-projects {
   background-color: #e67e22;
}

.back-to-projects a:hover {
   background-color: #f5af41;
}

::selection {
  background: #f5af41;
}

::-moz-selection {
  background: #f5af41;
}
